.csharp{
    font-family: Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    background-position: fixed;
    margin-top: 113px;
  }
  .csharp .navbar-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px;
    border-bottom: 3px solid #fff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out;
  }
    
  .csharp .navbar-title:hover{
    transform: scale(1.05);
  }
  .csharp h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
    
  .csharp .navbar{
    width: 220px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: auto;
    padding: 15px;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
  }
  .csharp  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    flex-grow: 1;
  }
  .csharp .navbar ul li {
    display: block;
    margin: 0 15px;
    text-align: left;
    width: 100%;
  }
  .csharp .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 12px 20px;
    transition: 0.3s;
  }
  .csharp .navbar a:hover {
    color: #92afd5;
    padding-left: 25px;
  }
  .csharp main{
    margin-left: 240px;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
  }
  .csharp .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #101011;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  .csharp pre {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    color: #bdcee0;
    overflow-x: auto;
    box-shadow: inset 0 0 10px rgba(196, 176, 176, 0.1);
  }