* {
  margin: 0;
  
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
}


header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.25rem;
}


nav {
  background-color: #614f4f;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #ded0d0;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #4CAF50;
  text-decoration: underline;
}

main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #958f8f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1e1b1b;
}

section p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

section pre {
  background-color: #635c5c;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5;
}

section code {
  background-color: #596c7f;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

/* Footer Section */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}

footer p {
  font-size: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  main {
    padding: 1rem;
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 2rem;
  }

  section h2 {
    font-size: 1.75rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}




  