.login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.login form {
    text-align: centre;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 4px 6px rgba(0,0,0,0.9);
    width: 550px;
    height: 450px;
    max-width: 90%;
}

.login form h1{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
    font-weight: bold; 
}

.login .input-row{
    display: flex;
    gap: 14px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.login input{
    flex: 1;
    width: 48%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.login input::placeholder{
    color: rgb(10, 10, 10);
}

.login .forget{
    text-align: left;
    position: relative;
    margin-top: 40px;
    color: rgb(247, 249, 252);
    font-size: small;
}

.login button{
    width: 100%;
    padding: 16px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.644);
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login button:hover{
    background: rgb(24, 23, 23);
    color: beige;
}

.login .signup-option {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    text-align: center;
    color: azure;
    margin-bottom: 16px;
    font-size: 15px;
}