.quizzes ul {
    list-style-type: none;
    padding: 0;
  }
  
.quizzes li {
    margin: 10px 0;
  }
  
.quizzes button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
 .quizzes button:hover {
    background-color: #0056b3;
  }
  