* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
  }

  nav.navbar2 {
    padding: 0;
    width: 100%;
    margin-top: 60px;
    z-index: 99;
    transition:  0.32s ease-in-out; 
  }
  .navbar2 {
    position: relative;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
  }
  .navbar2.scrolled {
    padding: 0px 0;
    background-color: #121212;
  }
  .navbar2 .nav-link{
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1px;        
    padding: 0 18px;             
    font-size: 18px;
    opacity: 0.75;
  }
  .navbar2 .nav-link:hover,
  .navbar2 .nav-link.active {
      opacity: 1;
  }
  
  .navbar2 .languages .nav-link{
     font-size: 20px;
     margin-top: 10px;
  }

 