.carousel {
  width: 100vw;
  position: relative;
  margin-top: 113px;
}

.carouselItem{
  height: 50vh;
  position: relative;
  
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.35); 
    backdrop-filter: blur(25px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(186, 55, 55, 0.1);
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 10%;
    font-weight: bold;
    padding: 30px 40px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.3);
  }
  .carousel-caption h4 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #f0f8ff;
  }
  
  .carousel-caption p {
    font-size: 20px;
    color: white;
    margin-top: 30px;
  }
  .carousel-caption button{
    background: #0e1a3b; /* blue gradient */
   color: white;
  padding: 0.7rem 1.6rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
  transition: all 0.3s ease;
  display: inline-block;
  align-self: center;
  margin-top: 80px;
  }

  .carousel-caption .add-quiz-button{
    text-decoration: none;
    color: white !important; 
  }
  .carousel-caption button:hover{
    background: linear-gradient(135deg, #2a2a2b, #81a1fa);
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(37, 99, 235, 0.4);
  }
  .carouselItem .carousel-caption button:hover{
    transform: scale(1.1);
  box-shadow: 0px 6px 15px rgba(255, 75, 43, 0.7);
  }
  .carousel-indicators button {
    background-color: white !important;  
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .carousel-control-prev,
.carousel-control-next {
  filter: invert(10%); 
  opacity: 0.8;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}