.course-list {
  min-width: 80vw;
  padding: 3rem 1rem;
  text-align: center;
  background-image: url('../assets/game-bg3.webp');
  background-size: cover;
}

.course-list h2 {
  margin-top: 80px;
  font-size: 2.5 rem;
  color: #e5e7eb;
  font-weight: 500;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 cards per row */
  gap: 1.5rem;
  padding: 0 2rem;
margin-top: 30px;
}

.course-card {
  background: linear-gradient(135deg, #629cb9, #0c1542);
  border-radius: 12px;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}

.course-card h3 {
  margin: 0;
  color:#eef0f3;
  font-size: 1.2rem;
  font-weight: bold;
}

.course-card p {
  font-size: 1rem;
  color: #e4e4e8;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  min-height: 72px;
}

.start-btn {
  background: linear-gradient(135deg, #3460be, #010b21); /* blue gradient */
  color: white;
  padding: 0.7rem 1.6rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(11, 20, 38, 0.3);
  transition: all 0.3s ease;
  display: inline-block;
  align-self: center;
  letter-spacing: 0.5px;
}

.start-btn:hover {
  background: linear-gradient(135deg, #2a2a2b, #81a1fa);
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(37, 99, 235, 0.4);
}
